@page "/fetchdata"
@inject ISharesClient SharesClient

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (shares == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>CompanyName</th>
                <th>Industry</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var share in shares)
            {
                <tr>
                    <td>@share.CompanyName</td>
                    <td>@share.Industry?.Name</td>
                    <td>@share.Value.ToString("c")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IShare[] shares;

    protected override async Task OnInitializedAsync()
    {
        var query = await this.SharesClient.GetShares.ExecuteAsync(first: null, last: null, where: null);

        shares = query.Data.Shares.Nodes.ToArray();
    }
}
