@inject IJSRuntime js

<tr>
    <td>@this.Share.CompanyName</td>
    <td>@this.Share.Industry?.Name</td>
    <td class="@_class">@this.Share.Value.ToString("c")</td>
    <td><button class="btn btn-primary" @onclick="() => OnClick.InvokeAsync(this.Share)">Change!</button></td>
</tr>

@code {
    private decimal? _previousValue;
    private string _class = string.Empty;

    [Parameter]
    public IShare Share { get; set; }

    [Parameter]
    public EventCallback<IShare> OnClick { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && this.Share.Value != _previousValue)
        {
            if (this.Share.Value > _previousValue)
            {
                _class = "blink-green";
            }
            else
            {
                _class = "blink-red";
            }
        }

        _previousValue = this.Share.Value;
    }
}
